<!--NAVBAR-->
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/HomeAdm']">
      <img src="assets/movies.svg" height="200" />
    </a>
    <div class="nav justify-content-end" id="navbarSupportedContent">
      <button
        id="menu"
        type="button"
        class="btn btn-outline-danger"
        [routerLink]="['/HomeAdm']"
      >
        BACK
      </button>
    </div>
  </div>
</nav>

<div class="card">
  <div class="card-header">
    <div class="float-left">
      <h5>USERS</h5>
    </div>
    <div class="float-right">
      <button type="button" class="btn-lg" [routerLink]="['/NewUser']">
        New User
      </button>
    </div>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>USER</th>
          <th>CPF</th>
          <th>EMAIL</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let users of users$ | async; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ users.name }}</td>
          <td>{{ users.cpf }}</td>
          <td>{{ users.email }}</td>
          <td>
            <span class="float-right">
              <button
                class="btn-lg mb-1 btn-sm"
                [routerLink]="['/SaveUser/' + users.id]"
              >
                Details
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <router-outlet></router-outlet>
</div>
