<!--NAVBAR-->
<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/HomeAdm']">
        <img src="assets/movies.svg" height="200" />
      </a>
    </div>
  </nav>
</header>

<div class="row h-100 justify-content-center align-items-center">
  <div class="card">
    <h2 class="text-center">CATEGORY</h2>
    <form>
      <div class="form-group mb-3">
        <label for="validationTooltip05">NAME</label>
        <input
          class="form-control"
          type="text"
          name="name"
          id="name"
          [(ngModel)]="category.name"
          placeholder="Required name"
          required
        />
      </div>

      <div class="form-group">
        <label>TAG</label>
        <input
          class="form-control"
          type="text"
          name="tag"
          id="tag"
          [(ngModel)]="category.tag"
          required
        />
      </div>
      <div class="form-group">
        <label>Language</label>
        <input
          class="form-control"
          type="number"
          name="language"
          id="language"
          [(ngModel)]="category.language.id"
          required
        />
      </div>

      <button
        justify-content-center
        type="submit"
        class="btn btn-outline-warning btn block"
        (click)="updateCategory()"
      >
        Update
      </button>
      {{ " " }}
      <button
        type="submit"
        class="btn btn-outline-danger btn block"
        [routerLink]="['/Category']"
        (click)="deleteCategory()"
      >
        Delete
      </button>
      {{ " " }}
      <button
        type="submit"
        class="btn btn-outline-primary btn block"
        [routerLink]="['/Category']"
      >
        Back
      </button>
    </form>
    <router-outlet></router-outlet>
  </div>
</div>
