.nav {
  background-color: black !important;
}
.nav-body {
  background-color: black !important;
  text-align: center;
  font-style: italic;
  font-size: 100px;
  font-family: "Times New Roman", Times, serif;
  max-width: 100%;
}
