.card {
  background-color: black !important;
}
.card-body {
  background-color: black !important;
  text-align: center;
  font-style: italic;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
}
