.bg-dark {
  background-color: black !important;
}
.body {
  background-color: black !important;
}
.card-img-bottom {
  max-height: 80vh;
  background-color: black !important;
}
.nav {
  // background-color: black !important;
}
.card {
  background-color: black !important;
  text-align: center;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}
