<nav class="navbar navbar-expand-lg navbar-light bg-ligth">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/movies.svg" height="200" />
    </a>
    <div class="nav justify-content-end" id="navbarSupportedContent">
      <a
        class="navbar-brand button-text"
        routerLinkActive="active"
        (click)="logout()"
      >
        <button class="btn-lg btn-block" type="submit" id="menu">Logout</button>
      </a>
    </div>
  </div>
</nav>

<!--NAV-->
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/User']">
      <button type="button" class="button-text btn-lg btn-block">
        Manage Users
      </button>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/Movie']">
      <button type="button" class="button-text btn-lg btn-block">
        Manage Movies
      </button>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/Category']">
      <button type="button" class="button-text btn-lg btn-block">
        Manage Category
      </button>
    </a>
  </li>
</ul>

<!--CARD-->
<div class="card">
  <div class="card-body">
    <h2 class="card-title">Welcome!!</h2>
    <p class="card-text">
      Here is your modification area, you can add, delete, or modify movies and
      categories. You can also manage your users. platform!!
    </p>
  </div>
  <img
    class="card-img-bottom"
    src="assets/logoADM.jpg"
    alt="Imagem de capa do card"
  />
</div>

<router-outlet></router-outlet>
