.row {
  background-color: black;
}
.card-footer {
  background-color: black;
}
.movie-container {
  background-color: black;
  height: 170px;
}
.card-title {
  background-color: black;
  color: yellow;
  text-align: center;
}
