<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">
    <img src="assets/movies.svg" height="200" />
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="h-75 w-100 p-3 nav justify-content-center">
      <li class="nav-item">
        <a id="menu" class="nav-link" [routerLink]="['/ListMovies']">
          <button type="button" class="btn-lg btn-block">List Movies</button>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/GenreMovies']">
          <button type="button" class="btn-lg btn-block">
            Movies by Genres
          </button>
        </a>
      </li>
    </ul>
    <a
      class="navbar-brand justify-content-end"
      routerLinkActive="active"
      [routerLink]="['/Login']"
    >
      <button type="submit" class="btn-lg btn-block">Login</button>
    </a>
  </div>
</nav>
